*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    color:#000;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.4;
}

p {
    margin-bottom: .5em;
}

* img {
    display: block;
    max-width: 100%;
    width: 100%;
}

header, section {
    min-height: 100vh;
}

@media screen and (orientation: portrait) {
    header {}
}